<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-xl-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
            <tr>
              <th scope="col">Customer</th>
              <th scope="col" >Ordered Products</th> <!-- nume produs -->
              <th scope="col">Quantity</th> <!-- cantitate -->
              <th scope="col">Price</th> <!-- pret -->
            </tr>
            </thead>
            <tbody>

            <th><label type="text" style="width: 40px" id="username" name="username"  > prodi</label></th>
            <!--            <tr *ngFor="let item of foodList" app-product-edit [item]="item" ></tr>-->
            <tr app-product-order></tr>
            <tr app-product-order></tr>
            <tr app-product-order></tr>

            <th><label type="text" style="width: 40px" id="username" name="username"  > bia</label></th>
            <!--            <tr *ngFor="let item of foodList" app-product-edit [item]="item" ></tr>-->
            <tr app-product-order></tr>
            <tr app-product-order></tr>
            <tr app-product-order></tr>
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <!--        <a href="#" [routerLink]="['admin/add-product']" class="btn btn-primary btn-block text-uppercase mb-3"-->
        <!--           (click)="addNewProduct()">Add new product</a>-->

      </div>
    </div>

  </div>
</div>




