<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-xl-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
            <tr>
              <th scope="col">Customer</th>
              <th scope="col">Ordered Products</th> <!-- nume produs -->
              <th scope="col">Quantity</th> <!-- cantitate -->
              <th scope="col">Price</th> <!-- pret -->
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let user of orderList">
              <th><label type="text" style="width: 40px" id="username" name="username"> {{user.userName}}</label></th>
              <td></td>
              <td></td>
              <th><label type="text" style="width: 40px" id="orderTotal" name="orderTotal">${{user.orderTotal}}</label></th>

              <ng-container *ngFor="let food of user.cartItemDaoList">
                <tr app-product-order [item]="food"></tr>
              </ng-container>
            </ng-container>
            <!--            <tr *ngFor="let item of foodList" app-product-edit [item]="item" ></tr>-->


            </tbody>
          </table>
        </div>
        <!-- table container -->
        <!--        <a href="#" [routerLink]="['admin/add-product']" class="btn btn-primary btn-block text-uppercase mb-3"-->
        <!--           (click)="addNewProduct()">Add new product</a>-->

      </div>
    </div>

  </div>
</div>
