<div class="contact-clean"   >
  <form method="post" >
    <h2 class="text-center">Your Command</h2>
<!--    <h3 style="color: #212121; margin-top: -40px;" class="text-center">No. #112</h3>-->
    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>


    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" value="there" checked mdbInput>
      <label class="custom-control-label" for="defaultUnchecked">Pay there</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios"   mdbInput>
      <label class="custom-control-label" for="defaultChecked">Pay with card</label>
    </div>



    <div (click)="submit()" class="form-group"><button class="btn btn-primary" type="submit">Order</button></div>
  </form>



</div>

