
<div class="login-clean">
  <form
    *ngIf="!registered"
    name="form"
    (ngSubmit)="f.form.valid && register()"
    #f="ngForm"
    novalidate
  >
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration">
      <h1 style="color: #c59d5f;font-family: Playball, cursive;">Înregistează-te</h1>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="nume" placeholder="Nume" [(ngModel)]="form.nume" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="prenume" placeholder="Prenume" [(ngModel)]="form.prenume" required>
    </div>
    <div class="form-group">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username" [(ngModel)]="form.username" required>
      </div>
      <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="form.email" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(0,0,0);color: #c59d5f;">Înregistează-te</button>
    </div>
<!--    <a class="forgot" href="#">Forgot your email or password?</a>-->
<!--    <a class="forgot" href="#" style="margin: 10px;">Don't have an account? Make one!</a>-->
    <div *ngIf="registered" [routerLink]="['/login']"></div>

    </div>
  </form>
</div>
