h1{
  color: white;
  margin-top: 30vh;
}
#p1{
  color: #C59D5F;
  font-size: xx-large;
  font-family: 'Playball', cursive;
}
#hlocation{
  color: #C59D5F;
  font-size: 10vh;
  font-family: 'Playball', cursive;
}
