<div *ngFor="let category of categories">
<app-parallax-image [img]="img+category+'.jpg'" style="height: 15vh !important;">
  <h1 class="text-center" id="h4">{{category}}</h1>
</app-parallax-image>
<div class="container">


  <div class="menu-holder">
    <div class="row">
      <!--menu item-->
      <!--        ngfor-->
      <!--menu item end-->
      <div class="col-md-6">
        <app-product-simple></app-product-simple>
      </div>
      <div class="col-md-6">
        <app-product-simple></app-product-simple>
      </div>
      <div class="col-md-6">
        <app-product-simple></app-product-simple>
      </div>
    </div>
  </div>
</div>

</div>

