<app-parallax-image>
</app-parallax-image>
<script src="product.component.ts"></script>
<div class="restbeef_main_wrapper">
  <div class="restbeef_container">
    <div class="restbeef_content_wrapper restbeef_no_sidebar">
      <!-- Content Inner -->
      <div class="restbeef_content">
        <div class="restbeef_tiny">
                <!-- Summary Block -->
                <div class="restbeef_block restbeef_poduct_summary restbeef_js_margin" data-margin="0 0 80px 0"
                     style="margin: 40px 0px 40px;">
                  <div class="restbeef_block_inner">
                    <div class="row">
                      <div class="col-6">
                        <img [src]="retrievedImage" alt="Renzo Rogers">
                      </div><!-- .col-6 -->
                <div class="col-6">
                  <div class="restbeef_poduct_summary_content align_center">
                    <h2>
                      <span class="restbeef_up_title">Summary</span>
                      {{item.title}}
                    </h2>
                    <div class="restbeef_poduct_description">
                      <h6>Weight and Calories</h6>
                      <p>
                        <span>{{item.servingWeight}} g  </span>  <span>{{item.calories}} Cal</span>
                      </p>

                      <h6>Information</h6>
                      <p> fats:{{item.fats}}, protein:{{item.protein}}, carbohydrates:{{item.carbohydrates}}</p>

                    </div><!-- .restbeef_poduct_description -->
                    <form class="restbeef_product_order">
                      <input type="submit" class="restbeef_add_to_cart" value="Add to Cart" (click)="addItemToCart()">
                    </form><!-- .restbeef_product_order -->
                  </div><!-- .restbeef_poduct_summary_content -->
                </div><!-- .col-6 -->
              </div><!-- .row -->
            </div><!-- .restbeef_block_inner -->
          </div><!-- .restbeef_block -->
          <!-- Description Block -->
          <div class="restbeef_block restbeef_js_margin" data-margin="0 0 90px 0" style="margin: 0px 0px 90px;">
            <h2 class="align_center">
              <span class="restbeef_up_title">More Info</span>
              Description
            </h2>
            <div class="restbeef_block_inner">
              <p>{{item.description}}</p>
            </div><!-- .restbeef_block_inner -->
          </div><!-- .restbeef_block -->

        </div><!-- .restbeef_tiny -->
      </div><!-- .restbeef_content -->
    </div><!-- .restbeef_content_wrapper -->
  </div><!-- .restbeef_container -->
</div>
