
  <th scope="row"><input [checked]="item.active==1" id="active"  type="checkbox"></th>
  <td class="tm-product-name"  ><input  id="title" value="{{item.title}}"></td>

  <td><input  type="number" style="width: 80px" id="servingWeight"  value="{{item.servingWeight}}"></td>
  <td><input type="number" style="width: 80px" id="fats"  value="{{item.fats}}"></td>
  <td><input type="number" style="width: 80px" id="protein"  value="{{item.protein}}"></td>
  <td><input type="number" style="width: 80px" id="calories" value="{{item.calories}}"></td>
  <td><input type="number" style="width: 80px" id="carbohydrates"  value="{{item.carbohydrates}}"></td>
  <td><input type="number" style="width: 80px" id="price"  value="{{item.price}}"></td>

  <td>
    <button (click)="updateItem()">
      <i class="fas fa-refresh"></i>
    </button>
  </td>

  <td>
    <button (click)="deleteItem()">
      <i class="fas fa-trash"></i>
    </button>
  </td>

